@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    justify-content: center;
    gap: 10px
}

body h2 {
    text-align: center;
    font-size: 30px;
}

body p {
    text-align: center;
    font-size: 25px;
}


.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 30px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.stats-container:hover {
    color: lightblue;
    transform: translateY(-2px);
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

#button-container button {
    padding: 10px 10px;
    font-size: 20px;
    box-shadow: 0 0 30px;
    transition: all 0.3s ease;
}

#button-container button:hover {
    box-shadow: 0 0 30px;
    transform: translateY(-2px);
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}